* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* header  */

.main-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    color: rgb(226, 36, 93);
}

/* main  */
.container h2{
    margin-bottom: 40px;
    text-align: center;
}

.row {
    margin-top: 30px;
}

.photo-container {
    float: left;
    width: calc(100% / 3 - 120px);
    margin-right: 60px;
    margin-left: 60px;
    background-color: rgb(13, 1, 46);
}

.photo-container img{
    float: left;
    height: 150px;
    margin-right: 20px;

}

.photo-container h3{ 
    color: white;
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

.photo-container p {
    color: white;  
    margin-bottom: 20px;
}

.photo-container .color {
    color: rgb(0, 132, 255);
}
